<h1>Hey <%= name %>  </h1>
<p><%= email %> </p>
<form action="/logout?_method=DELETE" method="post">
	<button type="submit">Logout</button>
</form>
<a href="/login">Login</a><br>
<a href="/register">Register</a>
